
@{
    ViewBag.Title = "EditLayout";
}

<h2>EditLayout</h2>

<h4>Widgets column location</h4>
<form >
    <label>
        <input type="radio" ng-model="model.WidgetsColumnSide" value="left">
        Left
    </label><br />
    <label>
        <input type="radio" ng-model="model.WidgetsColumnSide" value="right">
        Right
    </label><br />
</form>

@*<ul ui-sortable ng-model="widgets">
    <li ng-repeat="w in widgets">{{w}}</li>
</ul>*@

<div class="layoutsettings floatleft">
    <div ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="model.WidgetList">
        <div class="app" ng-repeat="w in model.WidgetList">{{w}}</div>
    </div>
    <div ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="widgets">
        <div class="app" ng-repeat="w in widgets">{{w}}</div>
    </div>
    <div style="clear: both;"></div>
</div>

<div class="clear"></div>