
<div class="author widget">
    <img class="img-responsive" src="images/author/author-bg.jpg">
    <div class="author-body text-center">
        <div class="author-img">
            <img src="images/author/author.jpg">
        </div>
        <div class="author-bio">
            <h3>Jonathon Andrew</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt magnam asperiores consectetur, corporis ullam impedit.</p>
        </div>
    </div>
</div>